/** VOS $VARIABLES Sass ici avant l'importation**/
// Exemple de variable
$primary: #ed1b76;
$secondary: #741f43;
$body: #490b26;

/*** Importation de Boostrap **/
@import "partials/bootstrap";

/*** Début des styles personnalisés ***/
// Exemple de style personnalisé
img {
    max-width: 100%;
}

header img {
    width: 250px;
}

main form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    input, textarea {
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

    input:focus, textarea:focus {
        border-color: #333;
        box-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
    }
    
}

footer i {
    font-size: 5rem;
}

aside {
    background-color: #490b26;
    color: white;
}