/** VOS $VARIABLES Sass ici avant l'importation**/
// Exemple de variable
$primary: #ed1b76;
$secondary: #741f43;
//#692442
//#c2c2c2
//#490b26
//#2b1c31

/*** Importation de Boostrap **/
@import "partials/bootstrap";

/*** Début des styles personnalisés ***/
// Exemple de style personnalisé
img {
    max-width: 100%;
}

header img {
    width: 250px;
}

nav{
    background-color: rgb(233, 233, 233);
    li {
        display: inline-block;
        margin-right: 1rem;
        a {
            text-decoration: none;
            font-weight: bold;
        }
    }
}